# ignore ALL files & folders
*

# Whitelist
# ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

# project files
# ——————————————————————————————

!/LICENSE

# .gitignore, .gitattributes, .gitmodules
!/.git?*

# non-hidden files
!/*.*

# coding agents
# ——————————————————————————————

!/.agent?/
!/.agent?/**

!/.claude/
!/.claude/**

# source code
# ——————————————————————————————

!/src
!/src/**

!/packages/
!/packages/**

!/utils/
!/utils/**

# Blacklist
# ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

# dependencies
# ——————————————————————————————

**/node_modules/
**/roku_modules/

# artifacts
# ——————————————————————————————

**/.artifacts/
**/build/
**/dist/
**/out/

# coding agents
# ——————————————————————————————

**/.claude/settings.local.json

**/agent.local.md
**/claude.local.md
