
# Blacklist
# ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

# ALL files & folders
*

# Whitelist
# ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

!/.gitattributes
!/.gitignore
!/.gitmodules
!/LICENSE

!AGENTS.md

!/agents/
!/agents/**

!/commands/
!/commands/**

!/rules/
!/rules/**

!/skills/
!/skills/**
